@charset "UTF-8";

/* CSS Document */
html,
body {
  margin: 1em;
  padding: 0em;
  font-family: "Open Sans", sans-serif;
  color: #494949;
}
div#wrapper .wrap {
  width: 300px;
}

div#wrapLogin {
  display: grid;
  place-items: center;
}

/* Login */

.group-form {
  width: 100%;
}
form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Estilo para el mensaje de estado */
#statusMessage {
  text-align: center;
  color: #333;
  margin-top: 10px;
  font-size: 16px;
}
/*end login*/
/* Estilos para el contenedor principal */
#callControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#callControl .card {
  width: 90%;
}
.card-header.headerPhone p {
  padding: 0;
  margin: 0;
}
.card-header.headerPhone p#title {
  font-size: 17px;
}

.card-header.headerPhone p#version {
  font-size: 13px;
  font-style: italic;
}
.info-status {
  font-size: 12px;
}
#phone-options span.badge {
  background: #e0dee3;
  color: #585757;
  cursor: pointer;
}
.bg-incomming-call {
  background: #dee2e6;
}

/* Estilos para el campo de entrada */
.call-input {
  width: 84%;
  margin: 0 auto;
}

.call-input input {
  width: 84%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #adb5bd;
}

span.input-group-btn {
  width: 10%;
  display: inline-block;
}

.wrapInputCall {
  width: 84%;
  margin: auto;
}

.wrapInputCall input {
  width: 100%;
}

button#btnDeleteDial {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

button#btnDeleteDial i {
  font-size: 23px;
}

/* Estilos para el 赤cono de llamada */
.fa-phone::before {
  content: "\f095";
  font-family: "Font Awesome 5 Free";
}

#connectedCall .callInfo {
  width: 240px;
}

#dialPad div {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}
.dialpad-char.btn-secondary-phone {
  background: #eeeded;
  color: #605e5e;
}

#dialPad div.btn-secondary-phone:hover {
  background-color: #989b9f;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}

.callInfo h3 {
  color: #389400;
  margin: 10px 0 10px 0;
}

.callInfo p {
  margin: 0px 25px 0px 0px;
  float: left;
}

div#connectCall span {
  text-align: center;
  width: 100%;
}

.muteActive {
  color: #fff;
  background-color: #389400;
}

#dialPad {
  width: 210px;
  height: 226px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#dialPad div {
  width: 55px;
  height: 42px;
  text-align: center;
  font-size: 20px;
  margin: 5px 5px 0px 5px;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #e8e8e8;
  padding-top: 5px;
}

#dialPad div:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}

#dialPad div:active {
  background-color: #1681d5;
  box-shadow: 0px 1px 5px 2px rgb(124 123 123 / 45%);
  border: none;
}

div#wrapOptions {
  text-align: center;
  margin: 16px 0em 0em 0em;
}

button#connectCall,
#btnRejectCall {
  width: 3em;
  height: 3em;
}

#btnRejectCall {
  display: none;
}

#answer .fa {
  -webkit-animation: callp 1s;
  animation: callp 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

#answer {
  -webkit-animation: call 1s;
  animation: call 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@-webkit-keyframes call {
  from {
    background: #389400;
  }

  to {
    background: #fff;
  }
}

@keyframes call {
  from {
    background: #389400;
  }

  to {
    background: #fff;
  }
}

/* Agrega estilos CSS según sea necesario */
.password-input-container {
  position: relative;
}

.toggle-password {
  position: relative;
  top: 40%;
  transform: translateY(-48%);
  cursor: pointer;
  background: #e6e4e7;
  padding: 8px;
  height: 47px;
}

.wrapTitleLogout .wrapTitle,
.wrapTitleLogout .logoutButton {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
p#title {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}

.wrapTitleLogout .logoutButton {
  width: 14px;
  float: right;
}

.logoutButton {
  background: #f8f8f8f5;
}
#logoutButton {
  float: right;
  border: none;
  position: relative;
  color: #606d73;
  padding: 0;
  background: none;
}
button#clearLogButton i {
  padding: 0;
  margin: 5px;
}

label.wrapSpy {
  margin-top: 2em;
  margin-left: 4px;
  display: inline;
  margin-right: 5px;
}
#clearLogButton {
  float: left;
  border-radius: 50%;
  width: 2em;
  background: #dddddd;
  padding: 4px;
  height: 2em;
  color: black;
  box-shadow: 0px 1px 0px 1px #00000026;
  cursor: pointer;
  margin-top: 1em;
}
button#clearLogButton:hover {
  background: #c1bbbb;
  transition: 0.3s;
}

#status {
  padding: 10px;
  margin: left;
  max-height: 180px;
  overflow-y: auto;
}

#status p {
  padding: 0px;
  margin: 2px;
}

.debug {
  color: #333;
}
.info {
  color: #000000;
}
.warn {
  color: #ffc107;
}
.error {
  color: #dc3545;
}

h7#user {
  font-size: 12px;
  font-style: italic;
}

.card-header .col {
  display: inline-block;
  width: 48%;
}
.col.logs {
  font-weight: bold;
  position: relative;
  top: 12px;
}
.card-header .col.close {
  float: right;
  width: 2em;
  position: relative;
  top: -6px;
}

.settings {
  vertical-align: top;
  display: inline-block;
}

button.btn-round.btn-settings {
  width: 1.6em;
  height: 1.6em;
  padding: 0px;
  margin: 0;
  border-radius: 50%;
}
.btn-round {
  border-radius: 50%;
}
button.btn-round.btn-settings i {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.options-in-call {
  text-align: center;
  padding-top: 1em;
}
.small-btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

button#mute {
  width: 3em;
}

.hangup-call {
  transform: rotate(135deg);
}
.icon-reply {
  transform: rotateY(180deg);
}
div#incomming {
  vertical-align: top;
  margin: 0 auto;
  width: 87%;
}
.btn-green {
  background-color: #3db13e;
  color: #fff;
}

.btn-answer-call i {
  -webkit-animation: callp 0.7s;
  animation: callp 0.7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@-webkit-keyframes callp {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.tab-content {
  padding: 10px 20px;
}
.nav-tabs a {
  border: 0!important;
  background-color: transparent!important;
}
.nav-tabs li.active {
  border-bottom: 2px solid #5453d2;
}
.nav-tabs li {
  border-bottom: 2px solid transparent;
}
.nav-tabs li a {
  width: 100%;
  text-align: center;
}
ul.nav.nav-tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.nav-tabs li {
  flex-basis: 90px;
  min-width: 90px;
  display: flex;
  align-items: flex-start;
  margin: 0!important;
}
.tabs-wrapper{
position: relative;
}
span.left, span.right {
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#5453D2;
  border-radius: 50%;
  left: -50px;
  top: 8px;
  cursor: pointer;
  color: #ffffff;
}
span.right{
right: -50px;
left:unset;

}
.scroller-btn.inactive {
  opacity: 0.3;
  pointer-events: none;
}

.call-list h1 {
  color: #333;
  font-weight: bold;
}
.call-item {
  border-bottom: 1px solid #dee2e6;
  padding: 4px 8px 8px 10px;
}
.call-type {
  font-size: 20px;
  margin-right: 10px;
}
.call-number {
  font-size: 14px;
}
.call-time {
  color: #6c757d;
  font-size: 12px;
  display: block;
}
span.call-message {
  font-size: 14px;
}